html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

:root {
    --base-color: #0e1112;
    --content-color: #bbbebd;
}

.page-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr max(40%, 300px) 1fr;
    grid-template-rows: 200px 2fr 50px;


    background-color: var(--base-color);
    color: var(--content-color);


    font-family: 'Courier New', Courier, monospace;
}

.header {
    grid-area: 1 / 1 / 1 / 4;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5em;
    background-color: var(--base-color);
}

.content-container {

    grid-area: 2 / 2 / 2 / 2;
}

.game-container {
    display: inline-block;
    position: relative;
    width: 100%;
    border: 0px;
}
  
.dummy {
    margin-top: 100%;
    /* 4:3 aspect ratio */
}
  
.game {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

#space-3, #space-4, #space-5 {
    border-top: 3px solid var(--content-color);
    border-bottom: 3px solid var(--content-color);
}

#space-1, #space-4, #space-7 {
    border-left: 3px solid var(--content-color);
    border-right: 3px solid var(--content-color);
}

.game-space {
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-color: ;
    font-size: 42px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 3 / 1 / 4 / 4;
}

